@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Colors */
    --primary-color: #003c8d;
    --secondary-color: #ffc105;
    --accent-color: #28a745; 
    --text-color: #45617d; 
    --text-dark: #01254a; 
    --text-hover: #047af8;; 
    --text-white: #fff;; 
    --light-text-color: #f8f9fa; 
    --background-color: #fff; 
    --light-background-color: #f8f7f1; 
    --border-color: #dee2e6; 
  
    /* Typography */
    --main-font: "Outfit", "Outfit Placeholder", sans-serif;
    --heading-font: sans-serif;
    --base-font-size: 18px;
    --line-height: 1.5;
  
    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
  
    /* Border Radius */
    --border-radius: 0.25rem;
  
    /* Transitions */
    --transition-duration: 0.2s;
    --transition-easing: ease-in-out;
  }
  
body {
    font-family: var(--main-font);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
}
  
h1, h2, h3 {
    font-weight: 650;
    color: var(--text-dark);
}

h4, h5, h6 {
    font-weight: 500;
    color: var(--text-dark);
}
  
a {
    color: var(--text-dark);
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-easing);
}

.filled-img{
    object-fit: cover !important;
    height: 100% !important;
}

a:hover {
    color: var(--text-hover);
}
  
header {
    background-color: var(--light-background-color);
    padding: 64px 0;

    h1{
        font-size: 66px;
    }

    h5 {
        font-size: 1.2rem;
        color: var(--text-secondary);
    }

    p{
        font-size: 20px;
        margin: var(--spacing-lg) auto;
        line-height: 1.8;
    }

    img{
        width: 90% !important;
    }

}

button.navbar-toggler {
    border-radius: 0;
    border : 0;
}

button.navbar-toggler:focus {
    outline: none;
    box-shadow: none ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
  
nav ul {
    gap: var(--spacing-md);
}
  
nav ul a {
    color: var(--text-dark) !important;
    padding: var(--spacing-sm) var(--spacing-md);
}
  
nav ul a:hover {
    color: var(--text-hover) !important;
}  

.btn {
    background-color: var(--primary-color) !important;
    color: var(--text-white) !important;
    border: none !important;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: background-color var(--transition-duration) var(--transition-easing) !important;
}
  
.btn:hover {
    background-color: var(--text-dark) !important;
}

#btn-cta-call{
    padding: 10px 22px;
    font-size: 19px;

    span {
        margin-right: 8px;
    }
}

#btn-cta-quote, #btn-cta-more {
    padding: 10px 22px;
    font-size: 19px;
}

#btn-cta-quote{
    margin-right: 8px;
}

#btn-cta-more{
    border: 1px solid var(--secondary-color) !important;
    background-color: transparent !important;
    color: var(--text-dark) !important;
}

#btn-cta-more:hover{

    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}

h2 {
    font-size: 46px;
    margin-bottom: var(--spacing-lg);
    color: var(--text-dark);
}
  
#certificationsScrollMain{
    overflow: hidden;
    user-select: none;
  
    --gap: 20px;
    gap: var(--gap);
}

.cert-scroll-container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);  
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
.cert-image {
    display: inline-block;
    width: 140px; /* Adjust width as needed */
    margin-right: 30px; /* Adjust spacing as needed */
}

.cert-scroll-container img:last-child {
    margin-right: 0;
}

#services {
    img{
        object-fit: cover;
    }

    h3{
        transition: color 0.3s ease-in-out;
    }

    h3:hover{
        color: var(--text-hover) !important;
    }
    
    .col-md-4 img {
        transition: filter 0.27s ease-in-out; /* Smooth transition for the filter */
        filter: brightness(100%); /* Initial brightness (no darkening) */
    }
    
    .col-md-4:hover img {
        filter: brightness(60%); /* Reduce brightness to darken on hover */
    }
}

#why-hire{

    img{
        object-fit: cover;
    }

    ul{
        line-height: 2;
        font-size: 19px;

        li::marker {
            content: '✔   ';
        }
    }

}

#why-choose-us{
    background: var(--light-background-color);
}

section {
    padding: 64px 0;
}

/* Styles for centering the breadcrumb section */
#breadcrumb.bg-image {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    position: relative;
    padding: 80px 0; 
    background-size: cover;
    background-position: center; 
}

/* White overlay for the background image */
#breadcrumb.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438); /* White with 60% opacity */
}

/* Style the container to be above the overlay */
#breadcrumb.bg-image > .container {
    position: relative;
    z-index: 1; /* Ensure the container and its content are on top of the overlay */
}

/* Style the heading */
#breadcrumb h2 {
    color: var(--text-white); /* Adjust heading color */
}

/* Style the breadcrumb navigation */
#breadcrumb nav[aria-label="breadcrumb"] {
    display: inline-block; /* To center the nav element */
    background-color: rgb(255, 255, 255); /* Optional: Background for the breadcrumb itself */
    padding: 8px 15px;
    border-radius: 5px; 
}

#breadcrumb .breadcrumb {
    margin-bottom: 0;
}

#breadcrumb .breadcrumb-item {
    font-size: 1rem;
}

#breadcrumb .breadcrumb-item a {
    color: var(--text-dark); 
    text-decoration: none;
}

#breadcrumb .breadcrumb-item a:hover {
    text-decoration: underline;
}

#breadcrumb .breadcrumb-item.active {
    color: var(--text-color)
}

#breadcrumb nav[aria-label="breadcrumb"] ol.breadcrumb::before {
    color: var(--text-dark); 
}

#contact-form{
    .contact-info{
        li{
            display: flex;
            align-items: center;
            margin-bottom: var(--spacing-sm);
        }
        .bi{
            margin-right: var(--spacing-sm);
        }
    }

    #contact-form-left{
        padding-right: var(--spacing-lg);
    }
}

.accordion-button:not(.collapsed) {
    color: var(--text-white) !important;
    background-color: var(--text-dark) !important;
    border: 1px solid var(--border-color) !important;
    outline: none !important;
    box-shadow: none !important;
}


#covering-areas .col-md-4  {
    div {
        background-color: var(--light-background-color);
        cursor: pointer;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: box-shadow 0.3s ease-in-out; 
        height: 140px;
        margin-bottom: var(--spacing-lg);
    }

    h4{
        margin-top: 0;
        color: var(--text-dark)
    }

    p{
        font-size: 1rem;
    }
}

#covering-areas .col-md-4:hover > div {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}


/* Media Queries */

/* Targeting typical mobile phone widths (up to ~599px) */
@media (max-width: 599px) {    
    nav ul {
        gap: var(--spacing-sm);
    }

    .container {
        width: 93%;
    }

    h2{
        font-size: 32px;
    }

    .filled-img{
        object-fit: cover !important;
        height: auto !important;
    }

    header {
        background-color: var(--light-background-color);
        padding: 60px 0;
    
        h1{
            font-size: 38px;
        }
    
        h5 {
            font-size: 1rem;
        }
    
        p{
            font-size: 18px;
            margin: var(--spacing-md) auto;
        }  
        
        #hero-text {
            margin-bottom: 32px;
        }

        img{
            width: 395px !important;
        }
    }

    #btn-cta-quote, #btn-cta-more {
        padding: 8px 18px;
        font-size: 16px;
    }

    .cert-image {
        width: 100px; /* Adjust width as needed */
    }

    #why-hire{
        h2{
            margin-top: 32px;
        }

        ul{
            font-size: 16px;

            li::marker {
                content: '✔  ';
            }
        }
    }

    #sub-footer{
        border-bottom: 1px solid var(--border-color);
    
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 2;
        }    
    }

    #breadcrumb {
        padding: 32px 0 !important;
    }    

    #contact-form{
        #contact-form-left{
            padding-right: auto;
        }
    }
}
  
/* Small tablets and larger phones (min-width: 600px) */
@media (min-width: 600px) {      
    .container {
        width: 90%;
    }

}

/* Tablets (min-width: 768px) */
@media (min-width: 768px) {
    .container {
        width: 85%;
    }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

#sub-footer{
    background-color: var(--light-background-color);
    color: var(--text-dark);
    font-size: 0.9rem;
    border-bottom: 1px solid var(--border-color);

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 2;
    }

    p{
        margin-bottom: 0;
    }


}

footer {
    background-color: var(--light-background-color);
    color: var(--text-dark);
    text-align: center;
    font-size: 0.9rem;
    padding: 20px 0;

    p{
        margin-bottom: 0;
    }

    .bi{
        color: var(--text-dark)
    }
}