@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Colors */
    --primary-color: #003c8d;
    --secondary-color: #ffc105;
    --accent-color: #28a745; 
    --text-color: #45617d; 
    --text-dark: #01254a; 
    --text-hover: #047af8;; 
    --text-white: #fff;; 
    --light-text-color: #f8f9fa; 
    --background-color: #fff; 
    --light-background-color: #f8f7f1; 
    --border-color: #dee2e6; 
  
    /* Typography */
    --main-font: "Outfit", "Outfit Placeholder", sans-serif;
    --heading-font: sans-serif;
    --base-font-size: 18px;
    --line-height: 1.5;
  
    /* Spacing */
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
  
    /* Border Radius */
    --border-radius: 0.25rem;
  
    /* Transitions */
    --transition-duration: 0.2s;
    --transition-easing: ease-in-out;
  }
  
body {
    font-family: var(--main-font);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--background-color);
}
  
h1, h2, h3 {
    font-weight: 650;
    color: var(--text-dark);
}

h4, h5, h6 {
    font-weight: 500;
    color: var(--text-dark);
}
  
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color var(--transition-duration) var(--transition-easing);
}
  
header {
    background-color: var(--light-background-color);
    padding: 56px 0;

    h1{
        font-size: 66px;
    }

    h5 {
        font-size: 1.2rem;
        color: var(--text-secondary);
    }

    p{
        font-size: 20px;
        margin: var(--spacing-lg) auto;
        line-height: 1.8;
    }

}

button.navbar-toggler {
    border-radius: 0;
    border : 0;
}

button.navbar-toggler:focus {
    outline: none;
    box-shadow: none ;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
  
nav ul {
    gap: var(--spacing-md);
}
  
nav ul a {
    color: var(--text-dark) !important;
    padding: var(--spacing-sm) var(--spacing-md);
}
  
nav ul a:hover {
    color: var(--text-hover) !important;
}  

.btn {
    background-color: var(--primary-color) !important;
    color: var(--text-white) !important;
    border: none !important;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: background-color var(--transition-duration) var(--transition-easing) !important;
}
  
.btn:hover {
    background-color: var(--text-dark) !important;
}

#btn-cta-call{
    padding: 10px 22px;
    font-size: 19px;

    span {
        margin-right: 8px;
    }
}

#btn-cta-quote, #btn-cta-more {
    padding: 10px 22px;
    font-size: 21px;
}

#btn-cta-quote{
    margin-right: 8px;
}

#btn-cta-more{
    border: 1px solid var(--secondary-color) !important;
    background-color: transparent !important;
    color: var(--text-dark) !important;
}

#btn-cta-more:hover{

    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
}

h2 {
    font-size: 46px;
    margin-bottom: var(--spacing-lg);
    color: var(--text-dark);
}
  
footer {
    background-color: var(--secondary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: var(--spacing-md);
    font-size: 0.9rem;
}

/* Media Queries */

/* Targeting typical mobile phone widths (up to ~599px) */
@media (max-width: 599px) {    
    nav ul {
        gap: var(--spacing-sm);
    }

    .container {
        width: 93%;
    }

    h2{
        font-size: 32px;
    }

    header {
        background-color: var(--light-background-color);
        padding: 60px 0;
    
        h1{
            font-size: 38px;
        }
    
        h5 {
            font-size: 1rem;
        }
    
        p{
            font-size: 18px;
            margin: var(--spacing-md) auto;
        }  
        
        #hero-text {
            margin-bottom: 32px;
        }
    }

    #btn-cta-quote, #btn-cta-more {
        padding: 8px 18px;
        font-size: 16px;
    }

    .cert-image {
        width: 100px; /* Adjust width as needed */
    }
}
  
/* Small tablets and larger phones (min-width: 600px) */
@media (min-width: 600px) {      
    .container {
        width: 90%;
    }

}

/* Tablets (min-width: 768px) */
@media (min-width: 768px) {
    .container {
        width: 85%;
    }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {
    .container {
        width: 80%;
    }
}

#certificationsScrollMain{
    overflow: hidden;
    user-select: none;
  
    --gap: 20px;
    gap: var(--gap);
}

.cert-scroll-container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap);  
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  
.cert-image {
    display: inline-block;
    width: 140px; /* Adjust width as needed */
    margin-right: 30px; /* Adjust spacing as needed */
}

.cert-scroll-container img:last-child {
    margin-right: 0;
}